<section class="mainsection">
	<h4 class="mainsection-title">Навыки</h4>
	<div class="mainsection-skills row">
		<div class="item-skill large-3 medium-3 small-6 columns">
			<input id="skill1" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill1">Html5</label>
    		<br>
    		<input id="skill2" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill2">Css3</label>
    		<br>
    		<input id="skill3" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill3">БЭМ</label>
		</div>
		<div class="item-skill large-3 medium-3 small-6 columns">
			<input id="skill4" type="checkbox" name="skill" class="skill" checked>
    		<label class="for-skill" for="skill4">SASS</label>
    		<br>
    		<input id="skill5" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill5">Less</label>
    		<br>
    		<input id="skill6" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill6">Gulp</label>
		</div>
		<div class="item-skill large-3 medium-3 small-6 columns">
			<input id="skill7" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill7">VanillaJS</label>
    		<br>
    		<input id="skill8" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill8">Angular</label>
    		<br>
    		<input id="skill9" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill9">Jquery</label>
		</div>
		<div class="item-skill large-3 medium-3 small-6 columns">
			<input id="skill10" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill10">Git</label>
    		<br>
    		<input id="skill11" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill11">Foundation</label>
    		<br>
    		<input id="skill12" type="checkbox" name="skill" class="skill">
    		<label class="for-skill" for="skill12">Bootstrap</label>
		</div>
	</div>
</section>